:root {
    --Navy850: hsl(217, 28%, 15%);
    --Navy900: hsl(218, 28%, 13%);
    --Navy950: hsl(216, 53%, 9%);
    --Navy800: hsl(219, 30%, 18%);
    --Teal200: hsl(176, 68%, 64%);
    --Cyan500: hsl(198, 60%, 50%);
    --Red: hsl(0, 100%, 63%);
    --White: hsl(0, 0%, 100%);
}

@font-face {
    font-family: 'Open Sans';
}

* {
  box-sizing: border-box;
}

body {
    background-color: var(--Navy850);
    margin: 0;
}

.page-container {
    max-width: 1440px;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 48px;
}

.nav-links {
    display: flex;
    gap: 50px;
    padding: 0;
    margin: 0;
    list-style: none;
    color: var(--White);
}

.nav-link a {
    text-decoration: none;
    font-size: 20px;
    color: var(--White);
}

.main-footer {
    background-color: var(--Navy950);
}

.intro-background {
    text-align: center;
    color: var(--White);
    width: 50%;
    margin: 0 auto 64px auto;
}

.btn {
    padding: 12px;
    font-size: 18px;
    color: var(--White);
    background-color: var(--Cyan500);
    border: none;
    width: 300px;
    border-radius: 32px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.features {
    display: flex;
    width: 70%;
    margin: 64px auto 64px auto;
}

.feature {
    width: 40%;
    margin: auto;
    text-align: center;
    color: var(--White);
}

.stay-productive-container {
    display: flex;
    width: 80%;
    margin: auto;
    gap: 50px;
    color: var(--White);
}

.stay-productive-container.left-side {
    width: 50%;
}

.stay-productive-container.right-side {
    width: 50%;
}

.right-side h2 {
    font-size: 48px;
}

.right-side a {
    font-size: 18px;
    text-decoration: none;
    color: var(--Cyan500);
    border-bottom: solid 2px var(--Cyan500);
}

.testimonials {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 64px auto;
}

.testimonial {
    width: 25%;
    background-color: var(--Navy800);
    padding: 32px;
    color: var(--White);
}

.testimonial img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.access-container {
    width: 50%;
    margin: 64px auto 64px auto;
    text-align: center;
    color: var(--White);
    padding: 64px;
    background: var(--Navy800);
}

.form-container {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.form-container input {
    width: 300px;
    height: 100%;
    border-radius: 24px;
    padding: 12px;
    border: none;
}

.main-footer {
    color: var(--White);
    padding: 24px;
}

.footer-left-info {
    width: 25%;
}

.footer-right {
    display: flex;
    justify-content: space-between;
}

.footer-links {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-link {
    margin-bottom: 8px;
}

.social-icons {
    display: flex;
    gap: 12px;
}

.disabled {
    background-color: indianred;
    cursor: not-allowed;
}

.fa {

}